* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

#root {
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  scrollbar-width: none;
}

.scrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15rem rgba(0, 0, 0, 0.5);
}

.body_component {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container nav {
  min-height: 80px;
  width: 100%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container nav .nav-container {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container nav .nav-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container nav .nav-container section:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app-container nav .nav-container section:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-container nav .nav-container section:nth-child(3) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app-container nav .nav-container section:nth-child(3) a {
  height: 40px;
  width: 160px;
  margin: 0 6rem;
  border-radius: 6px;
  background-color: #6a040f;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-container nav .nav-container section:nth-child(3) a button {
  border: none;
  border-radius: 6px;
  background-color: none;
  background: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.app-container nav .nav-container section:nth-child(3) a button label {
  color: white;
  font-size: 1.8rem;
  font-weight: 900;
  background-color: none;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.app-container nav .nav-container section:nth-child(3) a:hover {
  height: 45px;
  width: 170px;
  margin: 0 5.5rem;
  border: 0.5px solid black;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px 2px 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px 2px 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.app-container nav .nav-container section:nth-child(3) a:hover button label {
  color: #6a040f;
  font-size: 2.2rem;
  font-weight: 900;
}

.app-container nav .nav-container span {
  margin: 0 6rem;
  font-size: 3rem;
  font-weight: 900;
}

.app-container #vis {
  height: auto;
  width: 100%;
  max-width: 1920px;
  overflow-y: scroll;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container nav {
  height: 10vh;
  width: 100%;
  position: relative;
  background-color: #6a040f;
  -webkit-box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container nav .nav-container {
  height: 100%;
  width: 100%;
  max-width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container nav .nav-container a {
  height: auto;
  width: auto;
  border-radius: 6px;
  text-decoration: none;
  list-style: none;
}

.main-container nav .nav-container a button {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1), -2px 2px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1), -2px 2px 5px rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.main-container nav .nav-container a button label {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  cursor: pointer;
}

.main-container nav .nav-container a button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.main-container .bulk_body {
  height: auto;
  min-height: 60vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), color-stop(50%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.3) 100%);
}

.main-container .contact-container {
  height: 60vh;
  width: 100%;
  padding: 4rem;
  color: white;
  -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .contact-container h1 {
  margin: 1rem;
}

.main-container .contact-container h3 {
  margin: 2rem;
}

.main-container .contact-container div {
  margin: 2rem;
  border: 2px solid white;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .contact-container div div {
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container footer {
  height: 20vh;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0.95)));
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.95) 100%);
}

.landing-container {
  height: 75vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.landing-container #landing_background {
  width: 100%;
  position: absolute;
  top: -10%;
  z-index: 1;
}

.landing-container #logo {
  height: auto;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 2;
}

.landing-container #mountains_back {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -15%;
  z-index: 3;
}

.landing-container #mountains_front {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: -10%;
  z-index: 4;
}

.landing-container #grass_left {
  display: none;
  height: auto;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.landing-container #grass_right {
  display: none;
  height: auto;
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.home-container img {
  margin: 2rem;
}

.home-container p {
  margin: 0 3rem;
  padding: 5rem;
  font-size: 2rem;
  text-align: center;
}

.about-container p {
  margin: 1rem;
  padding: 1rem;
}

.about-container h4 {
  font-size: 2.25rem;
  font-weight: 400;
}

.about-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container section img {
  padding: 5rem;
  height: auto;
  width: 60%;
}

.about-container section div {
  width: 40%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container section div p {
  padding: 0;
}

.about-container section:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shelfmeals-container {
  padding: 4rem;
}

.shelfmeals-container h1 {
  margin: 1rem;
  color: #6a040f;
}

.shelfmeals-container p {
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
}

.shelfmeals-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shelfmeals-container section div {
  margin: 2rem 4rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shelfmeals-container section div h2 {
  margin: 0 2rem;
}

.shelfmeals-container section div ul {
  list-style: none;
}

.shelfmeals-container section div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shelfmeals-container section div ul li h3 {
  color: #6a040f;
}

.shelfmeals-container section div ul li p {
  font-size: 1.8rem;
}

.boxmeals-container {
  padding: 4rem;
}

.boxmeals-container h1 {
  margin: 1rem;
  color: #6a040f;
}

.boxmeals-container p {
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
}

.boxmeals-container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxmeals-container section img {
  width: 50%;
  padding: 2rem;
}

.boxmeals-container section div {
  width: 50%;
  padding: 2rem;
}

.boxmeals-container section div h2 {
  margin-top: 2rem;
  color: #6a040f;
}

.boxmeals-container section div h4 {
  font-size: 2rem;
}

.boxmeals-container section div p {
  max-width: 500px;
  padding: 0.5rem 0;
  font-size: 1.8rem;
  text-align: start;
}

.boxmeals-container img {
  margin: 1rem;
}
/*# sourceMappingURL=index.css.map */